@import "./wrapper.css";
@import "./section1.css";
@import "./section2.css";


:root{
    --Lightred: hsl(0, 100%, 67%);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}